$primary-purple: #722ed1;
$white: #fff;
$margin-between-sctions: 120px;
$margin-between-sctions-small-secreens: 50px;
$font-weight-700: 700;
$font-weight-500: 500;
$font-size-h1-large-screens: 32px;
$font-size-h1-small-screens: 24px;
$font-size-p-large-screens: 16px;
$font-size-p-small-screens: 14px;
$transition: 0.3s ease-in-out;
